  <head>
      <link rel="stylesheet" href="/css/home-page.css">
      <title>Lord of the Rings</title>
  </head>
  <header>
    <div class="header_left">
        <a href="/"><button class="btn1">←</button></a>
        <a href="/home"><img src="/img/logo.png" alt="logo"></a>
    </div>
    <nav>
        <ul>
          <li class="star"><a href="/favourites">★</a></li>
        </ul>
    </nav>
  </header>