.characters {
    width: 90vw;
    height: 100vh;
    border-radius: 30vh;
    margin-bottom: 100px;
    border-top: 2px solid gold;
    background-color: rgba(34, 6, 6, 0.563);
    display: flex;
    justify-content: space-around;
    align-items: center;
}