@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
  font-family: 'Dancing Script', cursive;
  font-display: swap;
}

.emptyspan02 {
    height: 10vh;
    width: 100vw;
  }

.characters {
    width: 90vw;
    height: 60vh;
    border-radius: 30vh;
    margin-bottom: 100px;
    border-top: 2px solid gold;
    background-color: rgba(34, 6, 6, 0.563);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

.characters h1 {
    color: gold;
    font-family: 'Dancing Script';
    font-size: 34px;
    text-align: center;
}


.characters h3 {
    color: rgb(206, 166, 166);
    font-size: 17px;
    text-align: center;
    font-style: italic;
}

.characters > div {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(28, 59, 59, 0.445);
    border-radius: 5px;
    width: 30vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.characters button {
    background-color: rgba(68, 68, 68, 0.596);
    color: gold;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 25px;
    margin-top:25px;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .characters {
        flex-direction: column;
        width: 100vw;
        height: auto;
        border-radius: 0;
        background: linear-gradient(to bottom, #640404b6, #6404046c, transparent);
    }
    .character {
        display:flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
        margin-top:50px;
        
    }
    .characters > div {
        width: 95vw;
        flex-direction: column;
    }

  }