* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, #2e314d, #340909);
    background-size: 200% 200%;
    animation: fadeGradient 5s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    height: 200vh;
    width: 100vw;
    vertical-align: middle;
  }
  #game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  #quote-container {
    margin-bottom: 30px;
  }
  
  #image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .image {
    margin: 10px;
    cursor: pointer;
  }
  
  #reset-button {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  #Start {
    display: none;
    overflow: hidden;
    padding: 0.5rem;
  }
  
  @keyframes fadeGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }