@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
  font-family: 'Dancing Script', cursive;
  font-display: swap;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}


* {
  margin: 0;
  padding: 0;
}

body {
    background-image:url('../img/background_lotr.jpg');
    opacity: 90%;
    background-attachment: fixed;
    object-fit: cover;
    animation: slide 30s linear infinite;
    vertical-align: middle;
  }


main {
  background: linear-gradient(to bottom left, #24070761, #040d1a53, #0a303746, #1f05193c);
  background-size: 400% 400%;
  animation: gradient-animation 16s ease infinite;
}
  
  header {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(to bottom, #9e9090ab,#4130486e, #380f332a, transparent);
    align-items: center;
  }

  header img {
    width: 150px;
  }

  header nav ul  {
    list-style: none;
  }

  header nav ul a {
    text-decoration: none;
    color: rgb(237, 223, 141);
    font-size: 60px;
  }

  footer {
    width: 100vw;
    background-color: rgb(24, 2, 2);
    height: 10vh;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 60%;
  }

  .emptyspan {
    height: 30vh;
    width: 100vw;
  }

  .login__button {
    width: 100px;
    height: 35px;
    color: gold;
    border: 2px gold solid;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .login__button a {
    text-decoration: none;
    color: gold;
    font-weight: 600;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .linearmain {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
  }

  .linear {
    width: 20vw;
    background-color: white;
    height: 1px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .lineartitle {
    font-family:'Dancing Script', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
  }

  .info__box {
    height: 10vh;
    width: 45vw;
    background: linear-gradient(to bottom, rgba(37, 37, 37, 0.462), transparent);
    border-top: 1px solid white;
    border-radius: 7vh;
    text-align: center;
  }

  .info__box h2 {
    font-family: 'Dancing Script', Courier, monospace;
    color: white;
    padding-top: 20px;
  }

  .quiz__box {
    height: 60vh;
    width: 65vw;
    background: linear-gradient(to left, rgba(210, 157, 82, 0.573), transparent);
    border-radius: 12vh;
  }

  .books__box {
    width: 70vw;
    height: 45vh;
    background-color: rgba(60, 60, 60, 0.342);
    border-radius: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .book__box {
    height: 35vh;
    width: 18vw;
    background: linear-gradient(to bottom, rgba(100, 100, 100, 0.573), transparent);
    border-top: 1px solid rgb(227, 132, 74);
    border-radius: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .book__box img {
    width: 120px;
    padding-bottom: 15px;
  }

  .book__box button {
    width: 7vw;
    height: 30px;
    background-color: transparent;
    color: gold;
    border-radius: 15px;
  }

  .characters__box {
    width: 60vw;
    height: auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 200px;
    background-color: #040d1a8f;
  }

  .character__box {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .character__box h2 {  
    color: rgb(255, 227, 203);
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px;
    text-align: center;
  }

  .character__box img {  
    height: 450px;
    margin: 25px;
  }

  .movies__box {
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20vh;
    border-top: 2px solid rgb(55, 212, 233);
  }

  .movie__box {
    height: 300px;
    width: 18vw;
    background: linear-gradient(to bottom, rgba(100, 100, 100, 0.573), transparent);
    border-top: 1px solid rgb(227, 132, 74);
    border-radius: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

  .movie__box img {
    width: 120px;
    padding-bottom: 15px;
  }

  .movie__box button {
    width: 7vw;
    height: 30px;
    background-color: transparent;
    color: gold;
    border-radius: 15px;
  }


  .about__box {
    width: 85vw;
    height: 80vh;
    border-radius: 40vh;
    margin-bottom: 100px;
    border-top: 1px solid white;
    background-color: rgba(34, 6, 6, 0.563);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .developers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .developer {
    width: 30vw;
    height: 30vh;
    background-color: #040d1a2e;
    border-radius: 15vh;
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin: 20px;
  }

  .developer img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
  }

  .developer h2 {
    font-family:'Dancing Script', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  }

  .btn {
    width: 120px;
    height: 30px;
    border-radius: 15px;
    background: transparent;
    border: 1px solid gold;
    color: gold;
    margin-top: 15px;
  }

