@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
  font-family: 'Cookie';
  font-display: swap;
}

.the_quiz {
    width: 90vw;
    height: 70vh;
    border-radius: 30vh;
    margin-bottom: 100px;
    border-top: 2px solid gold;
    background: linear-gradient(to bottom, rgba(75, 10, 10, 0.774),  rgba(128, 72, 39, 0.425), transparent);
    display: flex;
    flex-direction: column;
    justify-content:center ;
    overflow-y: scroll;
    align-items: center;
    overflow-x: hidden;
}

.emptyspan01 {
    height: 10vh;
    width: 100vw;
  }


.quote {
    color: gold;
    font-size:42px;
    height: 120px;
    width:60vw;
    height:150px;
    margin:20px;
    border-radius: 60px;
    background: linear-gradient(to bottom, rgba(206, 134, 40, 0.774),  rgba(36, 7, 3, 0.678), transparent);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(192, 192, 192);
    font-family: 'Cookie';
    margin-top: 100px;
}

#quoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addToBlacklist, #addToFavourite {
    height: 50px;
    width: 160px;
    margin: 50px;
    border-radius: 25px;
}

#addToBlacklist {
    background: rgba(37, 37, 37, 0.514);
    color: white;
}

#addToFavourite {
    background: #002700ab;
    color: white;
}

#options {
    width: 55vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.option {
    background: linear-gradient(to bottom, transparent,transparent, #350101af);
    width: 18vw;
    height: 80px;
    border-radius: 40px;
    color: rgb(235, 212, 231);
    font-size: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quoteBox {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    align-items: center;
}

.quoteBox h2 {
    color: rgb(228, 228, 228);
    font-size: 27px;
    background-color: rgba(27, 27, 27, 0.61);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset {
    width: 10vw;
    height: 60px;
    border-radius: 30px;
    color: rgb(228, 228, 228);
    font-size: 27px;
    background-color: rgba(27, 27, 27, 0.61);
    border: 2px solid white;
}

#newQuote {
    width: 20vw;
    height: 60px;
    border-radius: 30px;
    background: transparent;
    border: 2px solid gold;
    font-size: 38px;
    font-family: 'Cookie';
    color: #f1c8c8c0;
}


@media only screen and (max-width: 1667px) {
    .the_quiz {
        width: 90vw;
        border-radius: 20%;
        height: auto;
    }
    #quoteContainer {
        width: 100vw;
    }
    .quote {
        margin-top: 30px;
        width:60vw;
        height: 25vh;
        text-align: center;
        align-self: center;
    }
    .quoteBox {
        flex-direction: column;
    }
    .option {
        font-size: 24px;
    }
    #newQuote {
        width: 30vw;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    #reset {
        margin-top: 15px;
        width: 22vw;
    }
    .quoteBox h2 {
        width: 22vw;
        margin-top:15px;
    }
}

@media only screen and (max-width: 767px) {
    .the_quiz {
        width: 100vw;
        border-radius: 0%;
        height: auto;
    }
    .quote {
        width:100vw;
        height: auto;
        margin:0;
        margin-top:35px;
        border: none;
    }

    #options {
        margin-top:100px;
        margin-bottom:25px;
        height: auto;
    }
    .option {
        width: 60vw;
        margin-top: 20px;
    }
    .quoteBox {
        flex-direction: column;
    }
    #newQuote {
        width: 50vw;
        margin-top: 10px;
    }
    #reset {
        margin-top: 15px;
        width: 33vw;
    }
    .quoteBox h2 {
        width: 100vw;
        border-radius: 0%;
        margin-top:15px;
    }
}