.the_quiz {
    width: 90vw;
    height: 70vh;
    border-radius: 30vh;
    margin-bottom: 100px;
    border-top: 2px solid gold;
    background: linear-gradient(to bottom, rgba(75, 10, 10, 0.774),  rgba(128, 72, 39, 0.425), transparent);
    display: flex;
    flex-direction: column;
    justify-content:center ;
    overflow-y: scroll;
    align-items: center;
}

.emptyspan01 {
    height: 10vh;
    width: 100vw;
  }