<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about-page.css">
    <script src="/public/js/Quiz.js"></script>
    <title>Lord of the Rings</title>
</head>
<body>
    <main>
        <div class="emptyspan">

        </div>

        <%- include('partials/header.ejs') %>


        <div class="hero">

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Developers</h2>
                <div class="linear"></div>
            </div>

              <div class="about__page">
                <div class="about__developers">
                  
                    <div class="about__developer">
                      <div class="leftside">
                        <img src="img/david.webp" alt="developer">
                        <h2 class="name">David Ahadi</h2>
                      </div>
                      <div class="rightside">
                        <p><i>Hello I'm David, a beginner programmer who likes working with <span style="color: #df8d36">HTML</span> and <span style="color: #df36d2">CSS</span>. The moment I started coding I fell in love with it and I'm still learning more about it. In my free time I go on bicycle rides and run around in my city while listening to music, it's a fun way to pass time.</i></p>
                        <div class="contact"><a href="mailto:david.ahadi@student.ap.be?subject=Lambda"><button class="btn3">Contact</button></a></div>
                      </div>
                    </div>

                    <div class="about__developer">
                      <div class="leftside">
                        <img src="img/dagnyweb.jpg" alt="developer">
                        <h2 class="name">Dagny Verbeeck</h2>
                        <p class="title">&#129497 Éowyn</p>
                      </div>
                      <div class="rightside">
                        <p><i>"While I may not be an expert in all things <span style="color: gold">Lord of the Rings</span>, I do bring a strong background in <span style="color: #00758F">SQL</span> and design to the team. I love programming websites because it allows me to exercise my creativity and build something from scratch. It's been a pleasure building this website with the team and I'm proud of what we accomplished together."</i></p>
                        <div class="contact"><a href="mailto:dagny.verbeeck@student.ap.be?subject=Lambda"><button class="btn3">Contact</button></a></div>
                      </div>
                    </div>

                    <div class="about__developer">
                      <div class="leftside">
                        <img src="img/asmar.jpg" alt="developer">
                        <h2 class="name">Asmar Tiba</h2>

                      </div>
                      <div class="rightside">
                        <p><i>Numbers feel complicated for me, once visible they become less. I have passion for art, programming and animating. I like writing visual front-end using <span style="color: #df8d36">HTML</span>, <span style="color: #df36d2">CSS</span> and <span style="color: #2076ad">Typescript</span>.</i></p>
                        <div class="contact"><a href="mailto:asmar.tiba@student.ap.be?subject=Lambda"><button class="btn3">Contact</button></a></div>
                      </div>
                    </div>

                    <div class="about__developer">
                      <div class="leftside">
                        <img src="img/ana.webp" alt="developer">
                        <h2 class="name">Ana Yaghoubi</h2>
                      </div>
                      <div class="rightside">
                        <p><i>Hi, I'm Ana, a web developer with a passion for creating stunning websites. I specialize in Front-end framework such as <span style="color: #3480af">React</span> and also <span style="color: #ba5e30">Responsive Designs</span>. When I'm not coding, you can usually find me with my nose buried in a good book or listening to music. I believe that reading and music help me stay creative and motivated. Thank you for visiting our website!</i></p>
                        <div class="contact"><a href="mailto:anakimiya.yaghoubi@student.ap.be?subject=Lambda"><button class="btn3">Contact</button></a></div>
                      </div> 
                    </div>
                  </div>
              </div>
              <a href="/home"><button class="btn2">← Back </button></a>
              <div class="emptyspan"></div>
         </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>