<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/books.css">
    <title>Books | Lord of the Rings</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="emptyspan">

        </div>

        <div class="hero">

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Books</h2>
                <div class="linear"></div>
            </div>

            <div class="books">
              <div class="book">
                <img src="/img/The_Fellowship_of_the_Ring.jpg" alt="Image">
                <h2>The Fellowship of the Ring</h2>
                <button class="btn" onclick="showPopup('The Fellowship Of The Ring')">Read more</button>
              </div>
            
              <div class="book">
                <img src="img/The_Two_Towers.jpg" alt="Image">
                <h2>The Two Towers</h2>
                <button class="btn" onclick="showPopup('The Two Towers')">Read more</button>
              </div>
            
              <div class="book">
                <img src="img/The_Return_of_the_King.jpg" alt="Image">
                <h2>The Return of the King</h2>
                <button class="btn" onclick="showPopup('The Return Of The King')">Read more</button>
              </div>
            </div>
            
            <div class="popup-container" id="popupContainer">
              <div class="popup-content">
                <h2 id="popupBookName"></h2>
                <button class="close-btn" onclick="hidePopup()">Close</button>
              </div>
            </div>        

            <script>
              const bookInfoMap = {
                'The Fellowship Of The Ring': 'The Fellowship of the Ring is the first book in J.R.R. Tolkien`s epic fantasy novel series, The Lord of the Rings. It follows the hobbit Frodo Baggins as he embarks on a quest to destroy the One Ring, an artifact created by the Dark Lord Sauron to rule over Middle-earth. Along with his fellow hobbits Sam, Merry, and Pippin, as well as the wizard Gandalf, the dwarf Gimli, the elf Legolas, and the human Aragorn, Frodo sets out from the Shire and journeys through dangerous lands and battles many foes to reach Mount Doom, where the Ring can be destroyed. The book is known for its intricate world-building, complex characters, and themes of friendship, loyalty, and the struggle between good and evil.',
                'The Two Towers': 'The Two Towers is the second volume in J.R.R. Tolkien`s `The Lord of the Rings` trilogy. It follows the continuing adventures of hobbits Frodo and Sam, who are on a quest to destroy the One Ring and defeat the evil Sauron. The book also introduces new characters and plot lines, including the journey of Aragorn, Legolas, and Gimli as they search for their captured friend Merry and Pippin. `The Two Towers` is a tale of heroism, friendship, and the struggle against overwhelming odds in a world of magic and fantasy.',
                'The Return Of The King': 'The Return of the King is the third and final volume of J.R.R. Tolkien`s `The Lord of the Rings` trilogy. It follows the members of the Fellowship of the Ring as they make their final stand against the dark lord Sauron and his army in the epic battle for Middle-earth. The book also includes the story of the hobbits Frodo and Sam`s perilous journey to Mount Doom to destroy the One Ring, which holds the power to control all other rings and bring darkness to the world. `The Return of the King` is a tale of courage, sacrifice, and the triumph of good over evil, and is considered one of the greatest works of fantasy literature ever written.'
              };
            
              function showPopup(bookName) {
                  const popupContainer = document.getElementById('popupContainer');
                  const popupBookName = document.getElementById('popupBookName');

                  popupBookName.textContent = bookInfoMap[bookName];
                  popupContainer.style.display = 'block';
                }

                function hidePopup() {
                  const popupContainer = document.getElementById('popupContainer');
                  popupContainer.style.display = 'none';
                }

            </script>

    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>