<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/characters.css">
    <title>Characters | Lord of the Rings</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="emptyspan02">

        </div>
        <div class="hero">

                <div class="linearmain">
                    <div class="linear"></div>
                        <h2 class="lineartitle">Characters</h2>
                    <div class="linear"></div>
                </div>

                <div id="character-list" class="characters"></div>

        </div>
    
        <script>
            fetch('https://the-one-api.dev/v2/character', {
              headers: {
                Authorization: 'Bearer OeUeZhk8zm3i_1f4FjF9'
              }
            })
            .then(response => response.json())
            .then(data => {
                const characterList = document.getElementById('character-list');
                data.docs.forEach(character => {
                    const div = document.createElement('div');
                    const name = document.createElement('h1');
                    const race = document.createElement('h3');
                    const gender = document.createElement('h3');
                    const starButton = document.createElement('button');
                    starButton.textContent = '☆';
                    starButton.addEventListener('click', () => addCharacterToFavorites(character));
                    name.textContent = `${character.name}`;
                    race.textContent = `Race: ${character.race}`;
                    gender.textContent = `Gender: ${character.gender}`;
                    div.appendChild(name);
                    div.appendChild(race);
                    div.appendChild(gender);
                    div.appendChild(starButton);
                    characterList.appendChild(div);
                });
            })
            .catch(error => console.error(error));

            function addCharacterToFavorites(character) {

                let favorites = JSON.parse(localStorage.getItem('favorites') || '[]');
                console.log('added to favourites');
                
                //to check if character is already in fav... will implement favourite later
                if (!favorites.some(favorite => favorite._id === character._id)) {

                    favorites.push(character);
                    localStorage.setItem('favorites', JSON.stringify(favorites));
                    
                }
            }
        </script>

    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>