<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/favourites.css">
    <title>Lord of the Rings</title>
</head>
<body>
    <main>
        <div class="emptyspan">

        </div>

        <%- include('partials/header.ejs') %>


        <div class="hero">

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Favourites</h2>
                <div class="linear"></div>
            </div>


            <div class="favourites" id="favourites">
                <% for (const favorite of favorites) { %>
                  <div class="favorite-item">
                    <h2><%=favorite.dialog %></h2>
                    <h2><%= favorite.character %></h2>
                  </div>
                <% } %>
              </div>
              

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Blacklisted</h2>
                <div class="linear"></div>
             </div>
             
             <div class="blacklist" id="blacklist"></div>

              <a href="/home"><button class="btn2">← Back </button></a>
              <div class="emptyspan"></div>
         </div>
         <script>
            

          </script>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>