<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/favourites.css">
    <title>Lord of the Rings</title>
</head>
<body>
    <main>
        <div class="emptyspan">

        </div>

        <%- include('partials/header.ejs') %>


        <div class="hero">

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Favourites</h2>
                <div class="linear"></div>
            </div>

              <div class="favourites" id="favourites">

              </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Black listed</h2>
                <div class="linear"></div>
             </div>

             
             <div class="blacklist">

             </div>
              <a href="/home"><button class="btn2">← Back </button></a>
              <div class="emptyspan"></div>
         </div>
         <script>

            const favouritesContainer = document.getElementById('favourites');
            const favouriteQuotes = JSON.parse(localStorage.getItem('favouriteQuotes')) || [];

            const ul = document.createElement('ul');
            ul.classList.add('fav_list');

            favouriteQuotes.forEach((quote) => {
            const li = document.createElement('li');
            li.classList.add('fav_list02');
            const quoteText = document.createElement('span');
            quoteText.textContent = quote;
            quoteText.classList.add('quoteText');

            const authorText = document.createElement('span');
            authorText.textContent = '- ' + quote.character;
            authorText.classList.add('authorText');
            
            const clearButton = document.createElement('button');
            clearButton.textContent = 'Clear';
            clearButton.addEventListener('click', () => {
                const index = favouriteQuotes.indexOf(quote);
                if (index > -1) {
                favouriteQuotes.splice(index, 1);
                localStorage.setItem('favouriteQuotes', JSON.stringify(favouriteQuotes));
                ul.removeChild(li);
                }
            });
            
            li.appendChild(quoteText);
            li.appendChild(authorText);
            li.appendChild(clearButton);
            ul.appendChild(li);
            });


            favouritesContainer.appendChild(ul);
            favouritesContainer.appendChild(clearButton);

          </script>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>