<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home-page.css">
    <script src="/public/js/Quiz.js"></script>
    <title>Lord of the Rings</title>
</head>
<body>
    <main>
        <div class="emptyspan">

        </div>
        <%- include('partials/header.ejs') %>


        <div class="hero">

            <div class="info__box">
                <h2>Lord of the Rings - The One API</h2>
            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">The Quiz</h2>
                <div class="linear"></div>
            </div>

            <div class="quiz__box">
                
            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Books</h2>
                <div class="linear"></div>
            </div>

            <div class="books__box">
                <div class="book__box">
                    <img src="img/The_Fellowship_of_the_Ring.jpg" alt="book">
                    <a href="/book"><button class="btn">Learn more</button></a>
                </div>
                <div class="book__box">
                    <img src="img/The_Two_Towers.jpg" alt="book">
                    <a href="/book"><button class="btn">Learn more</button></a>
                </div>
                <div class="book__box">
                    <img src="img/The_Return_of_the_King.jpg" alt="book">
                    <a href="/book"><button class="btn">Learn more</button></a>
                </div>
            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Characters</h2>
                <div class="linear"></div>
            </div>

            <div class="characters__box">
                <div class="character__box">
                    <img src="img/frodo.png" alt="frodo">
                    <h2>
                        Frodo Baggins is the main protagonist in J.R.R. Tolkien's "The Lord of the Rings". He is a hobbit from the Shire who is chosen to be the ring-bearer, tasked with the dangerous mission of destroying the One Ring. Frodo is known for his bravery and resilience, but also experiences the psychological toll of bearing the Ring's corrupting influence.
                        <br/>
                        <a href="/character"><button class="btn2">discover more</button></a>
                    </h2>
                </div>

                <div class="character__box">
                    <h2>
                        Éowyn is a character in J.R.R. Tolkien's "The Lord of the Rings". She is a noblewoman of Rohan who disguises herself as a man to fight in the war against Sauron. Eowyn plays a pivotal role in the story, particularly in the Battle of Pelennor Fields, where she slays the Witch-king of Angmar.
                        <br/>
                        <a href="/character"><button class="btn2">discover more</button></a>
                    </h2>
                    <img src="img/eowyn.png" alt="eowyn">
                </div>

                <div class="character__box">
                    <img src="img/gandalf.png" alt="gandalf">
                    <h2>
                        Gandalf is a fictional character in J.R.R. Tolkien's "The Lord of the Rings". He is a wizard and one of the main protagonists of the story, who guides and advises the other characters in their quest to destroy the One Ring. Gandalf is known for his wisdom, power, and courage, and is respected and feared by many in Middle-earth. He is also a member of the Istari, a group of wizards sent to Middle-earth by the Valar to aid the free peoples in their struggle against Sauron.
                        <br/>
                        <a href="/character"><button class="btn2">discover more</button></a>
                    </h2>
                </div>
            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Movies</h2>
                <div class="linear"></div>
            </div>

            <div class="movies__box">
                <div class="movie__box">
                    <img src="img/movie01.jpg" alt="movie">
                    <a href="/movie"><button class="btn2">See more</button></a>
                </div>
                <div class="movie__box">
                    <img src="img/movie02.jpg" alt="movie">
                    <a href="/movie"><button class="btn2">See more</button></a>
                </div>
                <div class="movie__box">
                    <img src="img/movie03.jpg" alt="movie">
                    <a href="/movie"><button class="btn2">See more</button></a>
                </div>

            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Developers</h2>
                <div class="linear"></div>
            </div>

            <div class="about__box">

                <h2>
                    Welcome to the ultimate  <span style="color: #e4bd52">Lord of the Rings</span> quiz website! We are a team of four IT students who created this site as a project for school. We are huge fans of  <span style="color: #e4bd52">Lord of the Rings</span> and we wanted to challenge ourselves and other fans with some trivia questions. Do you think you know everything about Frodo, Gandalf, Aragorn, and the rest of the characters? Then take our quiz and find out how much of a fan you really are!  We hope you have fun on our site and we appreciate any feedback or suggestions you may have. Thanks for stopping by and good luck!
                </h2>

                <h3>
                    This version is made for our pre-release presentation so it is not yet complete. Please don't hesitate to share your thoughts with us.
                </h3>

                <a href="mailto:support@lambda.com"><button class="btn4">Contact Us... </button></a>

                <div class="linearmain">
                    <div class="lineargold"></div>
                            <img src="img/lambda.png" alt="lambda">
                    <div class="lineargold"></div>
                </div>
                <div class="developers">
                    <div class="developer">
                        <img src="img/ana.webp" alt="developer">
                        <h2>
                            Ana Yaghoubi
                        </h2>
                    </div>
                    
                    <div class="developer">
                        <img src="img/david.webp" alt="developer">
                        <h2>
                            David Ahadi
                        </h2>
                    </div>

                    <div class="developer">
                        <img src="img/dagnyweb.jpg" alt="developer">
                        <h2>
                            Dagny Verbeeck
                        </h2>
                    </div>

                    <div class="developer">
                        <img src="img/asmar.jpg" alt="developer">
                        <h2>
                            Asmar Tiba
                        </h2>
                    </div>
                </div>
                <a href="/about"><button class="btn2">About Us... </button></a>
            </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>