<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home-page.css">
    <script src="/public/js/Quiz.js"></script>
    <title>Lord of the Rings</title>
</head>
<body>
    <main>
        <div class="emptyspan">

        </div>
        <%- include('partials/header.ejs') %>


        <div class="hero">

            <div class="info__box">
                <h2>Lord of the Rings - The One API</h2>
            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">The Quiz</h2>
                <div class="linear"></div>
            </div>

            <div class="quiz__box">

            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Books</h2>
                <div class="linear"></div>
            </div>

            <div class="books__box">
                <div class="book__box">
                    <img src="img/The_Fellowship_of_the_Ring.jpg" alt="book">
                    <button>Learn more</button>
                </div>
                <div class="book__box">
                    <img src="img/The_Two_Towers.jpg" alt="book">
                    <button>Learn more</button>
                </div>
                <div class="book__box">
                    <img src="img/The_Return_of_the_King.jpg" alt="book">
                    <button>Learn more</button>
                </div>
            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Characters</h2>
                <div class="linear"></div>
            </div>

            <div class="characters__box">
                <div class="character__box">
                    <img src="img/frodo.png" alt="frodo">
                    <h2>
                        Frodo Baggins is the main protagonist in J.R.R. Tolkien's "The Lord of the Rings". He is a hobbit from the Shire who is chosen to be the ring-bearer, tasked with the dangerous mission of destroying the One Ring. Frodo is known for his bravery and resilience, but also experiences the psychological toll of bearing the Ring's corrupting influence.
                        <br/>
                        <button class="btn">discover more</button>
                    </h2>
                </div>

                <div class="character__box">
                    <h2>
                        Eowyn is a character in J.R.R. Tolkien's "The Lord of the Rings". She is a noblewoman of Rohan who disguises herself as a man to fight in the war against Sauron. Eowyn plays a pivotal role in the story, particularly in the Battle of Pelennor Fields, where she slays the Witch-king of Angmar.
                        <br/>
                        <button class="btn">discover more</button>
                    </h2>
                    <img src="img/eowyn.png" alt="eowyn">
                </div>

                <div class="character__box">
                    <img src="img/gandalf.png" alt="gandalf">
                    <h2>
                        Gandalf is a fictional character in J.R.R. Tolkien's "The Lord of the Rings". He is a wizard and one of the main protagonists of the story, who guides and advises the other characters in their quest to destroy the One Ring. Gandalf is known for his wisdom, power, and courage, and is respected and feared by many in Middle-earth. He is also a member of the Istari, a group of wizards sent to Middle-earth by the Valar to aid the free peoples in their struggle against Sauron.
                        <br/>
                        <button class="btn">discover more</button>
                    </h2>
                </div>
            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Movies</h2>
                <div class="linear"></div>
            </div>

            <div class="movies__box">
                <div class="movie__box">
                    <img src="img/movie01.jpg" alt="movie">
                    <button>Learn more</button>
                </div>
                <div class="movie__box">
                    <img src="img/movie02.jpg" alt="movie">
                    <button>Learn more</button>
                </div>
                <div class="movie__box">
                    <img src="img/movie03.jpg" alt="movie">
                    <button>Learn more</button>
                </div>

            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Developers</h2>
                <div class="linear"></div>
            </div>

            <div class="about__box">
                <div class="developers">
                    <div class="developer">
                        <img src="img/ana.webp" alt="developer">
                        <h2>
                            Ana Yaghoubi
                        </h2>
                    </div>
                    
                    <div class="developer">
                        <img src="img/david.webp" alt="developer">
                        <h2>
                            David Ahadi
                        </h2>
                    </div>

                    <div class="developer">
                        <img src="img/dagnyweb.jpg" alt="developer">
                        <h2>
                            Dagny Verbeeck
                        </h2>
                    </div>

                    <div class="developer">
                        <img src="img/asmar.jpg" alt="developer">
                        <h2>
                            Asmar Tiba
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>