<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home-page.css">
    <title>Lord of the Rings</title>
</head>
<body>
    <div class="emptyspan">
        
    </div>
    <%- include('partials/header.ejs') %>


    <div class="hero">

        <div class="info__box">

        </div>

        <div class="quiz__box">

        </div>

        <div class="characters__box">

        </div>

        <div class="books__box">

        </div>

        <div class="movies__box">

        </div>

        <div class="about__box">
            
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>