<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home-page.css">
    <script src="/js/Quiz.js" defer></script>
    <title>Lord of the Rings</title>
</head>
<body>
    <div class="hero">
        <div class="quiz__box">
            
            <div id="game-container">
                <div id="Start" style="display: none" class="answer_list" >
                  <div id="quote-container">
                    <p id="quote"></p>
                    <span id="score"></span>
                    <span id="tries"></span>
                  </div>
                  <div id="image-container">
                    <img class="image" src="https://via.placeholder.com/150x150" alt="image 1">
                    <img class="image" src="https://via.placeholder.com/150x150" alt="image 2">
                    <img class="image" src="https://via.placeholder.com/150x150" alt="image 3">
                    <img class="image" src="https://via.placeholder.com/150x150" alt="image 4">
                    <img class="image" src="https://via.placeholder.com/150x150" alt="image 5">
                    <img class="image" src="https://via.placeholder.com/150x150" alt="image 6">
                  </div>
                  <button id="reset-button">End Quiz</button>
                </div>
                <input type="button" name="answer" value="Start Quiz" onclick="showDiv()" />
                
            </div> 
        </div>



        <div class="characters__box">

        </div>



        <div class="about__box">
            
        </div>
    </div>
</body>
</html>