<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home-page.css">
    <script src="/public/js/Quiz.js"></script>
    <title>Lord of the Rings</title>
</head>
<body>
    <main>
        <div class="emptyspan">

        </div>
        <%- include('partials/header.ejs') %>


        <div class="hero">


            <h2 class="lineartitle">Lord of the Rings</h2>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">The Quiz</h2>
                <div class="linear"></div>
            </div>

            <div class="quiz__box">

                <div id="quoteContainer">
                    <div class="theQuote">
                        <p id="quote" class="quote"></p>
                    </div>
                    <div class="author">
                        <p id="character" class="character"></p>
                        <p id="quotesNumber" class="quotesNumber"></p> 
                        <button id="fetchQuotes" onclick="fetchQuotesByCharacter()">Fetch Quotes</button>
                    </div>
                    <div class="quoteButtons">
                        <button id="addToFavourite" onclick="addToFavourite()">Favourite</button>
                        <button id="addToBlacklist" onclick="addToBlacklist()">Blacklist</button>
                        <button id="newQuote">New Quote</button>
                        <button id="startQuiz" onClick="showSelectPopup()">Start The Quiz </button> 
                    </div>
                </div>

                <div id="popupContainer" class="popup-container">
                    <div class="popup">
                      <h2>Blacklist quote</h2>
                      <p>Blacklist quotes will not appear in quiz</p>
                      <textarea id="reasonInput" placeholder="Just give me a reason..."></textarea>
                      <div class="popup-buttons">
                        <button onclick="addToBlacklist()" style="background-color: rgb(26, 71, 26);">Add</button>
                        <button onclick="hidePopup()" style="background-color: rgb(37, 37, 37);">Cancel</button>
                      </div>
                    </div>
                  </div>

                  <div id="selectModeContainer" class="selectModeContainer">
                    <div class="selectPopup">
                      <h2>Select mode</h2>

                      <div class="flexcolumn">
                        <a href="/quiz-page"><button class="selectButton">10 Rounds</button></a>
                        <a href="/quiz-page"><button class="selectButton">Sudden Death</button></a>
                        <button class="btn" onclick="hideSelectPopup()">Close</button>
                      </div>
                    </div>
                  </div>

                  <div id="quotePopupContainer" class="quotePopupContainer">
                    <div class="quotesPopup">
                      <h2>Quotes by Character</h2>
                      <div id="quotesContent"></div>
                      <div class="popup-buttons">
                        <button onclick="hideQuotesPopup()" style="background-color: rgb(37, 37, 37);">Close</button>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Books</h2>
                <div class="linear"></div>
            </div>

            <div class="books__box">
                <div class="book__box">
                    <img src="img/The_Fellowship_of_the_Ring.jpg" alt="book">
                    <a href="/book"><button class="btn">Learn more</button></a>
                </div>
                <div class="book__box">
                    <img src="img/The_Two_Towers.jpg" alt="book">
                    <a href="/book"><button class="btn">Learn more</button></a>
                </div>
                <div class="book__box">
                    <img src="img/The_Return_of_the_King.jpg" alt="book">
                    <a href="/book"><button class="btn">Learn more</button></a>
                </div>
            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Characters</h2>
                <div class="linear"></div>
            </div>

            <div class="characters__box">
                <div class="character__box">
                    <img src="img/frodo.png" alt="frodo">
                    <h2>
                        Frodo Baggins is the main protagonist in J.R.R. Tolkien's "The Lord of the Rings". He is a hobbit from the Shire who is chosen to be the ring-bearer, tasked with the dangerous mission of destroying the One Ring. Frodo is known for his bravery and resilience, but also experiences the psychological toll of bearing the Ring's corrupting influence.
                        <br/>
                        <a href="/character"><button class="btn2">discover more</button></a>
                    </h2>
                </div>

                <div class="character__box">
                    <h2>
                        Éowyn is a character in J.R.R. Tolkien's "The Lord of the Rings". She is a noblewoman of Rohan who disguises herself as a man to fight in the war against Sauron. Eowyn plays a pivotal role in the story, particularly in the Battle of Pelennor Fields, where she slays the Witch-king of Angmar.
                        <br/>
                        <a href="/character"><button class="btn2">discover more</button></a>
                    </h2>
                    <img src="img/eowyn.png" alt="eowyn">
                </div>

                <div class="character__box">
                    <img src="img/gandalf.png" alt="gandalf">
                    <h2>
                        Gandalf is a fictional character in J.R.R. Tolkien's "The Lord of the Rings". He is a wizard and one of the main protagonists of the story, who guides and advises the other characters in their quest to destroy the One Ring. Gandalf is known for his wisdom, power, and courage, and is respected and feared by many in Middle-earth. He is also a member of the Istari, a group of wizards sent to Middle-earth by the Valar to aid the free peoples in their struggle against Sauron.
                        <br/>
                        <a href="/character"><button class="btn2">discover more</button></a>
                    </h2>
                </div>
            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Movies</h2>
                <div class="linear"></div>
            </div>

            <div class="movies__box">
                <div class="movie__box">
                    <img src="img/movie01.jpg" alt="movie">
                    <a href="/movie"><button class="btn2">See more</button></a>
                </div>
                <div class="movie__box">
                    <img src="img/movie02.jpg" alt="movie">
                    <a href="/movie"><button class="btn2">See more</button></a>
                </div>
                <div class="movie__box">
                    <img src="img/movie03.jpg" alt="movie">
                    <a href="/movie"><button class="btn2">See more</button></a>
                </div>

            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">What could come here?</h2>
                <div class="linear"></div>
            </div>

            <div class="new__box">
                <video preload="auto" autoPlay loop>
                    <source src="/img/moving_logo.webm" type="video/webm">
                </video>
                <h2>Coming soon</h2>
            </div>

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Developers</h2>
                <div class="linear"></div>
            </div>

            <div class="about__box">
                <h1>IT Project: <span style="color: #e4bd52">Lambda</span> - Lord of the Rings</h1>
                <h2>
                    Welcome to the ultimate  <span style="color: #e4bd52">Lord of the Rings</span> quiz website! We are a team of four IT students who created this site as a project for school. We are huge fans of  <span style="color: #e4bd52">Lord of the Rings</span> and we wanted to challenge ourselves and other fans with some trivia questions. Do you think you know everything about Frodo, Gandalf, Aragorn, and the rest of the characters? Then take our quiz and find out how much of a fan you really are!  We hope you have fun on our site and we appreciate any feedback or suggestions you may have. Thanks for stopping by and good luck!
                </h2>

                <a href="mailto:support@lambda.com"><button class="btn2">Contact Us... </button></a>

                <div class="linearmain">
                    <div class="lineargold"></div>
                            <img src="img/lambda.png" alt="lambda">
                    <div class="lineargold"></div>
                </div>
                <div class="developers">
                    <div class="developer">
                        <img src="img/ana.webp" alt="developer">
                        <h2>
                            Ana Yaghoubi
                        </h2>
                    </div>
                    
                    <div class="developer">
                        <img src="img/david.webp" alt="developer">
                        <h2>
                            David Ahadi
                        </h2>
                    </div>

                    <div class="developer">
                        <img src="img/dagnyweb.jpg" alt="developer">
                        <h2>
                            Dagny Verbeeck
                        </h2>
                    </div>

                    <div class="developer">
                        <img src="img/asmar.jpg" alt="developer">
                        <h2>
                            Asmar Tiba
                        </h2>
                    </div>
                </div>
                <a href="/about"><button class="btn2">About Us... </button></a>
            </div>
        </div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            
            const bearerToken = 'OeUeZhk8zm3i_1f4FjF9'; 
            const quote = 'https://the-one-api.dev/v2/quote'; 
            const charUrl = 'https://the-one-api.dev/v2/character';
            const movieUrl = 'https://the-one-api.dev/v2/movie';

             // Quote
             function getNewQuote() {

                        // Reset button colors
                        document.getElementById('addToFavourite').style.background = '#011f0197';
                        document.getElementById('addToBlacklist').style.background = '#25252583';

                        // Fetch quote
                        fetch(quote, {
                            headers: {
                            'Authorization': `Bearer ${bearerToken}`
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                            const randomIndex = Math.floor(Math.random() * data.docs.length);
                            const dialog = data.docs[randomIndex].dialog;
                            const characterId = data.docs[randomIndex].character;
                            const movieId = data.docs[randomIndex].movie;

                            // Fetch character data
                            fetch(`${charUrl}/${characterId}`, {
                                headers: {
                                'Authorization': `Bearer ${bearerToken}`
                                }
                            })
                                .then(response => response.json())
                                .then(characterData => {
                                const characterName = characterData.docs[0].name;
                                const charId = characterId;
                                document.getElementById('quote').textContent = dialog;
                                document.getElementById('character').textContent = characterName;
                                sessionStorage.setItem('currentCharacterName', characterName);
                                sessionStorage.setItem('currentCharId', charId);
                                })

                            // Fetch quotes by character data
                            fetch(`${charUrl}/${characterId}/quote`, {
                                headers: {
                                'Authorization': `Bearer ${bearerToken}`
                                }
                            })
                                .then(response => response.json())
                                .then(quotesData => {
                                    const quotes = quotesData.docs.map(quote => quote.dialog);
                                    const quotesNumber = quotesData.docs.length;
                                    document.getElementById('quotesNumber').innerHTML = `This character has ${quotesNumber} other quotes`;
                                    console.log(quotesNumber);
                                });
                            })
                                                   
             }

             // Select mode popup

             function showSelectPopup() {
                    document.getElementById('selectModeContainer').style.display = 'flex';
                    quotePopupContainer.classList.add('selectModeContainer');
                    }

                    function hideSelectPopup() {
                    document.getElementById('selectModeContainer').style.display = 'none';
                    }

             // Fetch quotes by character

             function showQuotesPopup() {
                    document.getElementById('quotePopupContainer').style.display = 'flex';
                    quotePopupContainer.classList.add('quotePopupContainer');
                    }

                    function hideQuotesPopup() {
                    document.getElementById('quotePopupContainer').style.display = 'none';
                    }


             function fetchQuotesByCharacter() {
                    const characterName = sessionStorage.getItem('currentCharacterName');
                    const charId = sessionStorage.getItem('currentCharId');

                    // Fetch quotes by character data
                    fetch(`${charUrl}/${charId}/quote`, {
                        headers: {
                        'Authorization': `Bearer ${bearerToken}`
                        }
                    })
                    .then(response => response.json())
                        .then(quotesData => {
                            const quotes = quotesData.docs.map(quote => quote.dialog);
                            const quotesContent = quotes.join('<br>');
                            document.getElementById('quotesContent').innerHTML = quotesContent;
                            showQuotesPopup();
                        });
                    }

            

            // Favourites

                function addToFavourite() {
                    const quoteDialog = document.getElementById('quote').textContent;
                    const characterName = sessionStorage.getItem('currentCharacterName');
                    const characterId = sessionStorage.getItem('currentCharId');


                    axios.post('/favouriteFetch', { dialog: quoteDialog, character: characterName, characterId: characterId })
                        .then(response => {
                            console.log('Added to favourites');
                            console.log('Dialogue:', quoteDialog);
                            console.log('Character:', characterName);
                            console.log('Id:', characterId);
                            document.getElementById('addToFavourite').style.background = '#5ebf45';
                        })
                        .catch(error => {
                            console.error('Error:', error);
                    });
                }

                    // Blacklist 

                    function showPopup() {
                            const popupContainer = document.getElementById('popupContainer');
                            popupContainer.style.display = 'block';
                        }

                        function hidePopup() {
                            const popupContainer = document.getElementById('popupContainer');
                            popupContainer.style.display = 'none';
                        }

                        function openAddToBlacklistPopup() {
                        resetReasonInput();
                        showPopup();
                        }

                        function resetReasonInput() {
                            const reasonInput = document.getElementById('reasonInput');
                            reasonInput.value = '';
                        }

                        function addToBlacklist() {
                        const reasonInput = document.getElementById('reasonInput');
                        const reason = reasonInput.value;

                        if (!reason) {
                            showPopup();
                            return;
                        }

                        const quoteDialog = document.getElementById('quote').textContent;

                        axios
                            .post('/blacklistFetch', { dialog: quoteDialog, reason: reason })
                            .then(response => {
                            console.log('Added to blacklist');
                            console.log('Dialogue:', quoteDialog);
                            console.log('Reason:', reason);
                            document.getElementById('addToBlacklist').style.background = 'black';
                            resetReasonInput();
                            hidePopup();
                            })
                            .catch(error => {
                            console.error('Error:', error);
                            });
                        }

                        

             document.getElementById('newQuote').addEventListener('click', function() {
                            getNewQuote();
                    });

            getNewQuote();

        </script>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>