<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landing-page.css">
    <title>Lord of the Rings</title>
</head>
<html>
  <head>
    <title>Lambda</title>
    <link rel="stylesheet" href="/css/landing-page.css">
  </head>
  <body>
    <div class="select__menu">

        <div class="forums">

          <div>
            <div class="linearmain">
              <div class="linear"></div>
                  <h2 class="lineartitle">Login</h2>
              <div class="linear"></div>
           </div>
            <form class="login-form">
              <input type="text" value="" placeholder="username" id="username" name="username" required>
              <input type="password" value="" placeholder="password" id="password" name="password" required>
              <button class="btn4">Login</button>
              <p>Don't have an account yet? <a>Sign up</a></p>
            </form>
          </div>
        </div>

        <div class="projects">
          <a href="/home">
            <div class="project__icon first__project">
              <h3>Lord of the Rings</h3>
            </div>
          </a>
          <a href="#">
            <div class="project__icon second__project">
              <h3>Pokemon</h3>
            </div>
          </a>
          <a href="#">
            <div class="project__icon third__project">
              <h3>FIFA</h3>
            </div>
          </a>
          <a href="#">
            <div class="project__icon fourth__project">
              <h3>Lego Masters</h3>
            </div>
          </a>
          <a href="#">
            <div class="project__icon fifth__project">
              <h3>Fortnite</h3>
            </div>
          </a>
          <a href="#">
            <div class="project__icon sixth__project">
              <h3>Magic: The Gathering</h3>
            </div>
          </a>
          <a href="#">
            <div class="project__icon seventh__project">
              <h3>National Bank</h3>
            </div>
          </a>
        </div>
    </div>
    <script>
          const projectLinks = document.querySelectorAll('.project__icon');
          const loginForm = document.querySelector('.login-form');

          window.addEventListener('load', () => {
            const loggedInMessage = document.createElement('p');
            loggedInMessage.textContent = 'You must log in to access available projects.';
            loggedInMessage.style.color = 'red';
            loggedInMessage.style.textAlign = 'center';
            loggedInMessage.style.marginTop = '10px';
            loginForm.after(loggedInMessage);

            loginForm.addEventListener('submit', event => {
              event.preventDefault();
              if (isLoggedIn()) {
                loggedInMessage.textContent = 'You are now logged in.';
                loggedInMessage.style.color = 'green';
                loggedInMessage.style.textAlign = 'center';
                loggedInMessage.style.marginTop = '10px';
                loggedInMessage.style.fontSize = '1.2em';
                projectLinks.forEach(link => {
                  link.removeEventListener('click', preventDefaultAndAlert);
                });
              } else {
                alert('Invalid login. Please try again.');
              }
            });

            const preventDefaultAndAlert = event => {
              event.preventDefault();
              alert('You must login first.');
            };

            projectLinks.forEach(link => {
            if (link.classList.contains('first__project')) {
              link.addEventListener('click', event => {
                if (!isLoggedIn()) {
                  event.preventDefault();
                  preventDefaultAndAlert(event);
                }
              });
            } else {
              link.addEventListener('click', event => {
                event.preventDefault();
                
                const unavailableMessage = document.createElement('p');
                unavailableMessage.textContent = 'Project unavailable.';
                unavailableMessage.style.fontSize = '16px';
                unavailableMessage.style.marginTop = '15px';
                unavailableMessage.style.marginBottom = '15px';
                unavailableMessage.style.textAlign = 'center';
                unavailableMessage.style.color = 'red';
                link.after(unavailableMessage);
              });
            }
          });
        });

          const isLoggedIn = () => {
            const usernameInput = document.getElementById('username');
            const username = usernameInput.value;

            return username === "Lambda";
          };


    </script>
  </body>
</html>