<!DOCTYPE html>
<html>
  <head>
    <title>Lambda</title>
    <%- include('partials/header') %>
  </head>
  <body>
    <h1>Welcome to my website</h1>
    <p>This is a paragraph about my website.</p>
  </body>
</html>
