<!DOCTYPE html>
<html>
  <head>
    <title>Lambda</title>
    <link rel="stylesheet" href="/css/landing-page.css">
  </head>
  <body>
    <div class="select-menu">
      <a href="/lord-of-the-rings">
        <div class="project-icon" data-bg-image="/public/img/asmar.webp">
          project 1 
        </div>
      </a>
      <div class="project-icon">
        project 2 
      </div>
      <div class="project-icon">
        project 3 
      </div>
      <div class="project-icon">
        project 4 
      </div>
      <div class="project-icon">
        project 5 
      </div>
      <div class="project-icon">
        project 6 
      </div>
    </div>
    <script>
      const projectIcons = document.querySelectorAll('.project-icon');
      projectIcons.forEach(icon => {
        icon.addEventListener('click', () => {
          console.log('clicked');
        });
      });

      // const projectIcons = document.querySelectorAll('.project-icon');
      //const selectMenu = document.querySelector('.select-menu');

      // projectIcons.forEach(icon => {
      //   icon.addEventListener('click', () => {
      //     const bgImage = icon.dataset.bgImage;
      //     selectMenu.style.backgroundImage = `url('${bgImage}')`;
      //   });
      // });

      //add this to project-icon => data-bg-image="/public/img/asmar.webp" data-project="1"

    </script>
  </body>
</html>

