<!DOCTYPE html>
<html>
  <head>
    <title>Lambda</title>
    <link rel="stylesheet" href="/css/landing-page.css">
  </head>
  <body>
    <div class="select-menu">
      <a href="/lord-of-the-rings">
        <div class="project-icon first-project" data-bgimg="/public/img/asmar.webp">
        </div>
      </a>
      <a href="#">
        <div class="project-icon second-project">
        </div>
      </a>
      <a href="#">
        <div class="project-icon third-project">
        </div>
      </a>
      <a href="#">
        <div class="project-icon fourth-project">
        </div>
      </a>
      <a href="#">
        <div class="project-icon fifth-project">
        </div>
      </a>
      <a href="#">
        <div class="project-icon sixth-project">
        </div>
      </a>
    </div>
    <script>
          const projectIcons = document.querySelectorAll('.project-icon');
              projectIcons.forEach(icon => {
                icon.addEventListener('click', () => {
                  console.log('clicked');
                });
              });
              $(document).ready(function() {
          $(".project-icon-hover").hover(function() {
            $(this).css("background-image", "url(photo1.jpg)");
          }, function() {
            $(this).css("background-image", "url(/img/asmar.webp)");
          });
          $(".project-icon-hover2").hover(function() {
            $(this).css("background-image", "url(/img/asmar.webp)");
          }, function() {
            $(this).css("background-image", "");
          });
        });
    </script>
  </body>
</html>