<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/the-quiz.css">
    <title>Quiz | Lord of the Rings</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="emptyspan01">

        </div>

        <div class="hero">

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">The Quiz</h2>
                <div class="linear"></div>
            </div>

            <div class="the_quiz" id="the_quiz">

                    <h2 class="roundCount">Round <span id="round">1</span>/10</h2>

                    <div id="quoteContainer">
                        <p id="quote" class="quote"></p>
                        <p id="character" class="invisible"></p>
                        <div class="flexrow">
                            <button id="addToFavourite" onclick="addToFavourite()">Favourite</button>
                            <button id="addToBlacklist">Blacklist</button>
                        </div>
                    </div>

                    <div id="options" >
                        <div id="charOptions">
                            <div id="charOption1" class="option"></div>
                            <div id="charOption2" class="option"></div>
                            <div id="charOption3" class="option"></div>
                          </div>
                          <div id="movieOptions">
                            <div id="movieOption4" class="option"></div>
                            <div id="movieOption5" class="option"></div>
                            <div id="movieOption6" class="option"></div>
                          </div>
                    </div> 

                    <div>
                        <div class="quoteBox">
                            <button id="newQuote">New Quote</button>
                            <div id="score">Score: 0</div>
                            <button id="reset">Reset</button>
                        </div>
                    </div>
            </div>
            
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


            <script>

                // api 

                const bearerToken = 'OeUeZhk8zm3i_1f4FjF9'; 
                const quote = 'https://the-one-api.dev/v2/quote'; 
                const charUrl = 'https://the-one-api.dev/v2/character';
                const movieUrl = 'https://the-one-api.dev/v2/movie';

                // variables

                let selectedCharacter = null;
                let selectedMovie = null;
                let round = 0;
                let score = 0;

                //functions



                function getNewQuote() {
                        // round increment
                        round++;
                        document.getElementById('round').textContent = round;

                        // Fetch quote
                        fetch(quote, {
                            headers: {
                                'Authorization': `Bearer ${bearerToken}`
                            }
                        })
                        .then(response => response.json())
                        .then(data => {
                            const randomIndex = Math.floor(Math.random() * data.docs.length);
                            const dialog = data.docs[randomIndex].dialog;
                            const characterId = data.docs[randomIndex].character;

                        // Fetch character data
                            fetch(`${charUrl}/${characterId}`, {
                                headers: {
                                    'Authorization': `Bearer ${bearerToken}`
                                }
                            })
                            .then(response => response.json())
                            .then(characterData => {
                                const characterName = characterData.docs[0].name;
                                document.getElementById('quote').textContent = dialog;
                                document.getElementById('character').textContent = characterName;
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    }

                    function addToFavourite() {
                    const quoteDialog = document.getElementById('quote').textContent;
                    const characterName = document.getElementById('character').textContent;

                    axios.post('/favouriteFetch', { dialog: quoteDialog, character: characterName })
                        .then(response => {
                            console.log('Added to favorites');
                            console.log('Dialogue:', quoteDialog);
                            console.log('Character:', characterName);
                            document.getElementById('addToFavourite').style.background = '#5ebf45';
                        })
                        .catch(error => {
                            console.error('Error:', error);
                    });
                }

                    document.getElementById('newQuote').addEventListener('click', getNewQuote);
                    document.getElementById('round').textContent = round;
                    getNewQuote();

            </script>

    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>