<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/the-quiz.css">
    <title>Quiz | Lord of the Rings</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="emptyspan01">

        </div>

        <div class="hero">

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Thq Quiz</h2>
                <div class="linear"></div>
            </div>

            <div class="the_quiz" id="the_quiz">

                    <p id="quote" class="quote"></p>
                    <div id="options" >
                        <div id="option1" class="option"></div>
                        <div id="option2" class="option"></div>
                        <div id="option3" class="option"></div>
                        <div id="option4" class="option"></div>
                        <div id="option5" class="option"></div>
                        <div id="option6" class="option"></div>
                    </div>
                    <button id="newQuote">New Quote</button>

            </div>

            <script>
                const bearerToken = 'OeUeZhk8zm3i_1f4FjF9'; 
                const url = 'https://the-one-api.dev/v2/quote'; 
                const charUrl = 'https://the-one-api.dev/v2/character';


                const getNewQuote = () => {
                    fetch(url, {
                        headers: {
                            'Authorization': `Bearer ${bearerToken}`
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        const randomNumber = Math.floor(Math.random() * data.docs.length);
                        const randomObject = data.docs[randomNumber];


                        const quoteObject = randomObject;
                        const quote = quoteObject.dialog;
                        const character = quoteObject.character;


                        document.querySelector('#quote').textContent = quote;
                        document.querySelector('#quote').setAttribute('data-character', character);

                        const optionsDiv = document.querySelectorAll('.option');
                        optionsDiv.forEach((optionDiv) => {
                            optionDiv.addEventListener('click', () => {
                                const selectedCharacter = optionDiv.textContent.trim();
                                const correctCharacter = document.querySelector('#quote').getAttribute('data-character');
                                if (selectedCharacter === correctCharacter) {
                                    optionDiv.style.border = '2px solid green';
                                } else {
                                    optionDiv.style.border = '2px solid red';
                                }
                            });
                        });

                            fetch(`${charUrl}/${randomObject.character}`, {
                                        headers: {
                                            'Authorization': `Bearer ${bearerToken}`
                                        }
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        const characterName = data.docs[0].name;
                                        document.querySelector('#option1').textContent = characterName;
                                    })
                                    .catch(error => console.error(error));

                                    const options = [...data.docs];
                                    options.splice(randomNumber, 1);
                                    const randomOptions = shuffleArray(options).slice(0, 5);
                                    randomOptions.push(randomObject);
                                    const shuffledOptions = shuffleArray(randomOptions);
                                    for (let i = 1; i <= shuffledOptions.length; i++) {

                                        fetch(`${charUrl}/${shuffledOptions[i - 1].character}`, {
                                            headers: {
                                                'Authorization': `Bearer ${bearerToken}`
                                            }
                                        })
                                        .then(response => response.json())
                                        .then(data => {
                                            const characterName = data.docs[0].name;
                                            document.querySelector(`#option${i}`).textContent = characterName;
                                        })
                                        .catch(error => console.error(error));
                                    }

                                    document.querySelector('#quote').textContent = quote;
                                })
                                .catch(error => console.error(error));
                            }

                const shuffleArray = array => {
                    const newArray = [...array];
                    for (let i = newArray.length - 1; i > 0; i--) {
                        const j = Math.floor(Math.random() * (i + 1));
                        [newArray[i], newArray[j]] = [newArray[j], newArray[i]];
                    }
                    return newArray;
                }

                getNewQuote();

                document.querySelector('#newQuote').addEventListener('click', getNewQuote);
            </script>

    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>