<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/the-quiz.css">
    <title>Quiz | Lord of the Rings</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="emptyspan01">

        </div>

        <div class="hero">

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">The Quiz</h2>
                <div class="linear"></div>
            </div>

            <div class="the_quiz" id="the_quiz">

                    <div id="quoteContainer">
                        <p id="quote" class="quote"></p>
                        <div class="flexrow">
                            <button id="addToFavourite">Favourite</button>
                            <button id="addToBlacklist">BlackList</button>
                        </div>
                    </div>

                    <div id="options" >
                        <div id="charOptions">
                            <div id="option1" class="option"></div>
                            <div id="option2" class="option"></div>
                            <div id="option3" class="option"></div>
                        </div>
                        <div id="movieOptions">
                            <div id="option4" class="option"></div>
                            <div id="option5" class="option"></div>
                            <div id="option6" class="option"></div>
                        </div>
                    </div>
                      

                    <div>
                        <div class="quoteBox">
                            <button id="newQuote">New Quote</button>
                            <button id="reset">Reset</button>
                        </div>
                    </div>

            </div>

            <script>
                const bearerToken = 'OeUeZhk8zm3i_1f4FjF9'; 
                const quote = 'https://the-one-api.dev/v2/quote'; 
                const charUrl = 'https://the-one-api.dev/v2/character';
                const movieUrl = 'https://the-one-api.dev/v2/movie';

                let selectedCharacterOption = null;
                let selectedMovieOption = null;

            function addToFavourite() {
                const quote = document.getElementById('quote').textContent;
                let favouriteQuotes = JSON.parse(localStorage.getItem('favouriteQuotes')) || [];
                favouriteQuotes.push(quote);
                localStorage.setItem('favouriteQuotes', JSON.stringify(favouriteQuotes));
                console.log('added to favourites');
                document.getElementById('addToFavourite').style.background = '#5ebf45'; 
            }

            function addToBlacklist() {
                const quote = document.getElementById('quote').textContent;
                let blacklistQuotes = JSON.parse(localStorage.getItem('blacklistQuotes')) || [];
                blacklistQuotes.push(quote);
                localStorage.setItem('blacklistQuotes', JSON.stringify(blacklistQuotes));
                console.log('added to blacklist');
                document.getElementById('addToBlacklist').style.backgroundColor = 'black';
            }


            function getNewQuote() {


                    // Fetch quote
                    fetch(quote, {
                        headers: {
                        'Authorization': `Bearer ${bearerToken}`
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                        const randomIndex = Math.floor(Math.random() * data.docs.length);
                        const quote = data.docs[randomIndex].dialog;
                        const characterId = data.docs[randomIndex].character;
                        const movieId = data.docs[randomIndex].movie;
                        document.getElementById('quote').innerHTML = quote;

                        // Fetch correct character
                        fetch(`${charUrl}/${characterId}`, {
                            headers: {
                            Authorization: `Bearer ${bearerToken}`
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                            const characterName = data.docs[0].name;
                            const correctOptionIndex = Math.floor(Math.random() * 3) + 1;
                            const correctOption = document.querySelector(`#option${correctOptionIndex}`);
                            correctOption.textContent = characterName;
                            correctOption.addEventListener('click', () => checkAnswer(correctOption, true));
                            })
                            .catch(error => {
                            console.error('Error:', error);
                            });
                        
                        // Fetch correct movie

                        fetch(`${movieUrl}/${movieId}`, {
                        headers: {
                            Authorization: `Bearer ${bearerToken}`
                        }
                        })
                        .then(response => response.json())
                        .then(data => {
                            const movieName = data.docs[0].name;
                            const correctOptionIndex = Math.floor(Math.random() * 3) + 4;
                            const correctOption = document.querySelector(`#option${correctOptionIndex}`);
                            correctOption.textContent = movieName;
                            correctOption.addEventListener('click', () => checkAnswer(correctOption, true));
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                        })
                        .catch(error => {
                        console.error('Error:', error);
                        });


                // Fetch random characters
                    fetch(`${charUrl}`, {
                            headers: {
                            Authorization: `Bearer ${bearerToken}`
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                            const charNames = data.docs.map(char => char.name);
                            const charOptions = document.querySelectorAll('#option1, #option2, #option3');
                            const correctOptionIndex = Math.floor(Math.random() * 3);
                            const correctOption = charOptions[correctOptionIndex];
                            correctOption.textContent = charNames[correctOptionIndex];
                            charOptions.forEach((option, index) => {
                                if (index !== correctOptionIndex) {
                                let randomIndex = Math.floor(Math.random() * (charNames.length - 1));
                                if (randomIndex >= correctOptionIndex) {
                                    randomIndex++;
                                }
                                option.textContent = charNames[randomIndex];
                                }
                                option.addEventListener('click', () => checkAnswer(option, false));
                            });
                            })
                            .catch(error => {
                            console.error('Error:', error);
                            });

                            // Fetch random movies
                            fetch(`${movieUrl}`, {
                                headers: {
                                Authorization: `Bearer ${bearerToken}`
                                }
                            })
                                .then(response => response.json())
                                .then(data => {
                                const movieNames = data.docs.map(movie => movie.name);
                                const movieOptions = document.querySelectorAll('#option4, #option5, #option6');
                                const correctMovieOptionIndex = Math.floor(Math.random() * 3);
                                const correctMovieOption = movieOptions[correctMovieOptionIndex];
                                correctMovieOption.textContent = movieNames[correctMovieOptionIndex];
                                movieOptions.forEach((option, index) => {
                                    if (index !== correctMovieOptionIndex) {
                                    let randomIndex = Math.floor(Math.random() * (movieNames.length - 1));
                                    if (randomIndex >= correctMovieOptionIndex) {
                                        randomIndex++;
                                    }
                                    option.textContent = movieNames[randomIndex];
                                    }
                                    option.addEventListener('click', () => checkAnswer(option, false));
                                });
                        });
                    }

                // check answer
                    function checkAnswer(option, isCorrect) {

                    const options = document.querySelectorAll('.option');

                    options.forEach(otherOption => {
                        otherOption.style.border = 'none';
                    });

                    if (isCorrect) {
                            option.style.border = '2px solid green';
                        } else {
                            option.style.border = '2px solid red';
                        }
                    }

                    document.getElementById('newQuote').addEventListener('click', getNewQuote);
                    document.getElementById('addToFavourite').addEventListener('click', addToFavourite);
                    document.getElementById('addToBlacklist').addEventListener('click', addToBlacklist);

                    getNewQuote();

            </script>

    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>