<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/the-quiz.css">
    <title>Quiz | Lord of the Rings</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="emptyspan01">

        </div>

        <div class="hero">

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">Thq Quiz</h2>
                <div class="linear"></div>
            </div>

            <div class="the_quiz" id="the_quiz">
                <p id="quote" class="quote"></p>
                <ul id="options">
                    <li id="option1"></li>
                    <li id="option2"></li>
                    <li id="option3"></li>
                    <li id="option4"></li>
                    <li id="option5"></li>
                    <li id="option6"></li>
                </ul>
                <button id="new-quote">New Quote</button>
            </div>

            <script>
                const bearerToken = 'OeUeZhk8zm3i_1f4FjF9'; 
                const url = 'https://the-one-api.dev/v2/quote'; 

                const getNewQuote = () => {
                    fetch(url, {
                        headers: {
                            'Authorization': `Bearer ${bearerToken}`
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        const randomNumber = Math.floor(Math.random() * data.docs.length);
                        const randomObject = data.docs[randomNumber];
                        const quote = randomObject.dialog;
                        const character = randomObject.character;
                        document.querySelector('#quote').textContent = quote;
                        document.querySelector('#option1').textContent = character;
                        const options = [...data.docs];
                        options.splice(randomNumber, 1);
                        const randomOptions = shuffleArray(options).slice(0, 5);
                        randomOptions.push(randomObject);
                        const shuffledOptions = shuffleArray(randomOptions);
                        for (let i = 1; i <= shuffledOptions.length; i++) {
                            document.querySelector(`#option${i}`).textContent = shuffledOptions[i - 1].character;
                        }
                    })
                    .catch(error => console.error(error));
                }

                const shuffleArray = array => {
                    const newArray = [...array];
                    for (let i = newArray.length - 1; i > 0; i--) {
                        const j = Math.floor(Math.random() * (i + 1));
                        [newArray[i], newArray[j]] = [newArray[j], newArray[i]];
                    }
                    return newArray;
                }

                getNewQuote();

                document.querySelector('#new-quote').addEventListener('click', getNewQuote);
            </script>

    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>