<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/the-quiz.css">
    <title>Quiz | Lord of the Rings</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="emptyspan01">

        </div>

        <div class="hero">

            <div class="linearmain">
                <div class="linear"></div>
                    <h2 class="lineartitle">The Quiz</h2>
                <div class="linear"></div>
            </div>

            <div class="the_quiz" id="the_quiz">

                    <div id="quoteContainer">
                        <p id="quote" class="quote"></p>
                        <div class="flexrow">
                            <button id="addToFavourite">Favourite</button>
                            <button id="addToBlacklist">BlackList</button>
                        </div>
                    </div>

                    <div id="options" >
                        <div id="option1" class="option"></div>
                        <div id="option2" class="option"></div>
                        <div id="option3" class="option"></div>
                        <div id="option4" class="option"></div>
                        <div id="option5" class="option"></div>
                        <div id="option6" class="option"></div>
                    </div>

                    <div>
                        <div class="quoteBox">
                            <button id="newQuote">New Quote</button>
                            <button id="reset">Reset</button>
                        </div>
                    </div>

            </div>

            <script>
                const bearerToken = 'OeUeZhk8zm3i_1f4FjF9'; 
                const quote = 'https://the-one-api.dev/v2/quote'; 
                const charUrl = 'https://the-one-api.dev/v2/character';
                const movieUrl = 'https://the-one-api.dev/v2/movie';

            function addToFavourite() {
                const quote = document.getElementById('quote').textContent;
                let favouriteQuotes = JSON.parse(localStorage.getItem('favouriteQuotes')) || [];
                favouriteQuotes.push(quote);
                localStorage.setItem('favouriteQuotes', JSON.stringify(favouriteQuotes));
                console.log('added to favourites');
                document.getElementById('addToFavourite').style.background = '#5ebf45'; 
            }

            function addToBlacklist() {
                const quote = document.getElementById('quote').textContent;
                let blacklistQuotes = JSON.parse(localStorage.getItem('blacklistQuotes')) || [];
                blacklistQuotes.push(quote);
                localStorage.setItem('blacklistQuotes', JSON.stringify(blacklistQuotes));
                console.log('added to blacklist');
                document.getElementById('addToBlacklist').style.backgroundColor = 'black';
            }


            function getNewQuote() {
                    // reset selected answer border

                    const options = document.querySelectorAll('.option');
                        options.forEach(option => {
                        option.style.border = 'none';
                     });

                     // fetch quote
                        fetch(quote, {
                                headers: {
                                    'Authorization': `Bearer ${bearerToken}`
                                }
                            })
                            .then(response => response.json())
                            .then(data => {
                                const randomIndex = Math.floor(Math.random() * data.docs.length);
                                const quote = data.docs[randomIndex].dialog;
                                document.getElementById('quote').innerHTML = quote;
                            })
                            .catch(error => {
                                console.error('Error:', error);
                        });

                        // fetch character

                        fetch(charUrl, {
                                    headers: {
                                            Authorization: `Bearer ${bearerToken}`
                                        }
                                    })
                                        .then(response => response.json())
                                        .then(data => {
                                            const charNames = data.docs.slice(0, 3).map(char => char.name);
                                            const charOptions = document.querySelectorAll('#options .option:nth-child(-n+3)');
                                            charOptions.forEach((option, index) => {
                                                option.textContent = charNames[index];
                                                option.addEventListener('click', () => checkAnswer(option, index < 2));
                                            });
                            });

                            // fetch movie

                        fetch(movieUrl, {
                                    headers: {
                                        Authorization: `Bearer ${bearerToken}`
                                    }
                                })
                                .then(response => response.json())
                                .then(data => {
                                const movieNames = data.docs.slice(0, 3).map(movie => movie.name);
                                const movieOptions = document.querySelectorAll('#options .option:nth-last-child(-n+3)');
                                movieOptions.forEach((option, index) => {
                                    option.textContent = movieNames[index];
                                    option.addEventListener('click', () => checkAnswer(option, index < 2));
                                });
                                });
                }

                function checkAnswer(option, isCorrect) {
                    const options = document.querySelectorAll('.option');
                    options.forEach(otherOption => {
                        otherOption.style.border = 'none';
                    });

                    if (isCorrect) {
                        option.style.border = '2px solid green';
                    } else {
                        option.style.border = '2px solid red';
                    }
                    }

                    document.getElementById('newQuote').addEventListener('click', getNewQuote);
                    document.getElementById('addToFavourite').addEventListener('click', addToFavourite);
                    document.getElementById('addToBlacklist').addEventListener('click', addToBlacklist);

                    getNewQuote();

            </script>

    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>