.books {
    width: 90vw;
    height: auto;
    border-radius: 30vh;
    margin-bottom: 100px;
    border-top: 2px solid gold;
    background-color: rgba(34, 6, 6, 0.563);
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 18vw;
    margin:100px;
}

.book img {
    height: 400px;
    width: auto;
    margin-bottom: 50px;
}

.book-info {
    display: none;
}


.books ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    align-items: center;
}

.books ul li {
    color: rgb(228, 214, 139);
    font-size:28px;
}

@media only screen and (max-width: 767px) {
    .books {
        flex-direction: column;
        width: 100vw;
        height: auto;
        border-radius: 0;
        background: linear-gradient(to bottom, #640404b6, #6404046c, transparent);
    }
    .book {
        display:flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
        margin-top:50px;
        
    }
    .book-info {
        width: 90vw;
    }

  }