@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
    font-family: 'Handlee';
    font-display: swap;
  }

@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
  font-family: 'Marck Script';
  font-display: swap;
}

.invisible {
    display: none;
}

.favourites, .blacklist {
    width: 75vw;
    height: 65vh;
    border-radius: 20vh;
    margin-bottom: 80px;
    border-top: 2px solid gold;
    background: linear-gradient(to bottom, rgba(53, 5, 5, 0.911),  rgba(75, 35, 12, 0.763), transparent);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}

.favouriteList, .blacklistList {
    width: 90%;
    height: auto; 
    border-bottom: 2px rgba(255, 255, 255, 0.192) solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: visible; 
  }

.favouriteQuote a {
  text-decoration: underline dotted;
  text-decoration-color: rgb(178, 211, 88);
}
  

.favouriteList h2 {
    width:600px;
    margin: 24px;
}

.favouriteList button {
    width:120px;
    height: 30px;
}

.dialog {
    font-family: 'Handlee';
    font-size: 36px;
    color: rgb(120, 223, 180);
}

.author {
    color: rgb(201, 167, 105);
    font-size: 32px;
    font-family: 'Marck Script', Courier, monospace;
}

.reason {
    color: rgb(190, 88, 75);
    font-size: 32px;
    font-family: 'Marck Script', Courier, monospace;
}

.favourites::-webkit-scrollbar,
.blacklist::-webkit-scrollbar {
  width: 0;
  background-color: transparent; 
}

.favourites::-webkit-scrollbar-track,
.blacklist::-webkit-scrollbar-track {
  background-color: transparent; 
}

.favourites::-webkit-scrollbar-thumb,
.blacklist::-webkit-scrollbar-thumb {
  background-color: transparent; 

}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  max-height: 40vh; 
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content {
  color: black;
  font-size: 18px;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(22, 22, 22);
  font-size: 35px;
  cursor: pointer;
}

  @media only screen and (max-width: 1567px) {
    .favourites, .blacklist {
        width: 100vw;
        border-radius: 0%;
        height: 80vh;
    }
}

@media only screen and (max-width: 767px) {
    .favourites, .blacklist {
        height: 75vh;
        overflow: hidden;
    }
}