@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
    font-family: 'Handlee';
    font-display: swap;
  }

@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
  font-family: 'Cookie';
  font-display: swap;
}


.invisible {
    display: none;
}

.the_quiz {
    width: 100vw;
    height: 70vh;
    margin-bottom: 100px;
    border-top: 2px solid gold;
    background: linear-gradient(to bottom, rgba(75, 10, 10, 0.774),  rgba(128, 72, 39, 0.425), transparent);
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.emptyspan01 {
    height: 10vh;
    width: 100vw;
  }

#score {
    color: grey;
    font-size: 32px;
}

.quote {
    color: gold;
    font-size:42px;
    height: auto;
    width:80vw;
    height:150px;
    margin:20px;
    border-radius: 60px;
    background: linear-gradient(to bottom, rgba(206, 134, 40, 0.774),  rgba(36, 7, 3, 0.678), transparent);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(192, 192, 192);
    font-family: 'Cookie';
    margin-top: 100px;
}

#quoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roundCount {
    color: rgb(237, 165, 102);
    font-size: 36px;
    margin-top:35px;
    font-family: 'Courier New', Courier, monospace;
}

#addToBlacklist, #addToFavourite {
    height: 50px;
    width: 160px;
    margin: 30px;
    border-radius: 25px;
}

#addToBlacklist {
    background: #25252583;
    color: white;
}

#addToFavourite {
    background: #011f0197;
    color: white;
}

#options {
    width: 55vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.option {
    background: linear-gradient(to bottom, transparent,transparent, #350101af);
    width: 22vw;
    height: 80px;
    border-radius: 40px;
    margin-top: 20px;
    color: rgb(235, 212, 231);
    font-size: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quoteBox {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    align-items: center;
}

.quoteBox h2 {
    color: rgb(228, 228, 228);
    font-size: 27px;
    background-color: rgba(27, 27, 27, 0.61);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset {
    width: 10vw;
    height: 60px;
    border-radius: 30px;
    color: rgb(228, 228, 228);
    font-size: 27px;
    background-color: rgba(27, 27, 27, 0.61);
    border: 2px solid white;
}

#newQuote {
    width: 20vw;
    height: 60px;
    border-radius: 30px;
    background: transparent;
    border: 2px solid gold;
    font-size: 38px;
    font-family: 'Cookie';
    color: #f1c8c8c0;
}

  .buttonContainer {
    display: flex;
    justify-content: space-around;
    width:15vw;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    background: none;
    color: white;
    border: none;
  }

  .popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    height: 15vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .popup h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: black;
    font-family: 'Handlee';
    font-size: 32px;
  }
  
  .popup textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
  }
  
  .popup-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .popup-buttons button {
    margin-left: 10px;
    width: 120px;
    height: 30px;
    color: white;
    border-radius: 15px;
  }

  .scoreContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
  }

  .scorePopup {
    width:50vw;
    height:50vh;
    border: 4px solid white;
    background-color: #000000b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .scorePopup h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(218, 247, 113);
    font-family: 'Handlee';
    font-size: 32px;
  }

  .scoreboard {
    font-size: 38px;
  }


@media only screen and (max-width: 1667px) {
    .the_quiz {
        width: 100vw;
        border-radius: 0;
        height: auto;
    }
    #quoteContainer {
        width: 100vw;
    }
    .quote {
        margin-top: 30px;
        width:80vw;
        height: 25vh;
        text-align: center;
        align-self: center;
    }
    .quoteBox {
        flex-direction: row;
        justify-content: space-around;
        width: 70vw;
        margin-top: 50px;
    }
    .option {
        font-size: 24px;
    }
    #newQuote {
        width: 18vw;
    }
    #reset {
        width: 18vw;
    }
    .quoteBox h2 {
        width: 22vw;
        margin-top:15px;
    }
}

@media only screen and (max-width: 767px) {
    .the_quiz {
        width: 100vw;
        border-radius: 0%;
        height: auto;
    }
    .quote {
        width:100vw;
        height: auto;
        margin:0;
        margin-top:35px;
        border-radius: 0%;
        border: none;
        padding: 25px;
    }

    #options {
        margin-top:100px;
        margin-bottom:25px;
        height: auto;
        flex-direction: column;
    }
    .option {
        width: 60vw;
        margin-top: 60px;
    }
    .quoteBox {
        flex-direction: column;
    }
    #newQuote {
        width: 40vw;
    }
    #reset {
        width: 33vw;
    }
    .quoteBox h2 {
        width: 100vw;
        border-radius: 0%;
        margin-top:15px;
    }
}