<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <link rel="stylesheet" href="/public/css/index.css">
  </head>
  <body>
    <header>
      <h1>Logo</h1>
      <nav>
        <ul>
          <li><a href="/login">Login</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>