<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/css/index.css">
  </head>
  <body>
    <header>
      <h1>Logo</h1>
      <nav>
        <ul>
          <li class="login__button"><a href="/login">Login</a></li>
        </ul>
      </nav>
    </header>
  </body>