  <head>
      <link rel="stylesheet" href="/css/home-page.css">
      <title>Lord of the Rings</title>
  </head>
  <header>
    <img src="/img/logo.png" alt="logo">
    <nav>
        <ul>
          <li class="star"><a href="/favourites">★</a></li>
        </ul>
    </nav>
  </header>